body {
  background-color: navy;
}

.card {
  background-color: silver;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  text-align: center;
}

#test {
  backgrond-color: yellow !important;
}
